<html>
<head>
</head>
<meta charset="utf-8">
    <link rel="stylesheet" href="start.css">
    <title>お菓子</title>
<body>
<!--<a href=test1.cgi><img src="./start.png" alt="start">-->
<!--<form action="test_v2.cgi" method="post">
        <input type="submit" name="start" value="診断"> 
        </form>-->

    {{hour}}
    {{message}}


    <div class="header">
     <div class="header-logo">おかしな診断</div>
      <div class="header-list">
       <ul>
         <!--<li><a href="file:///C:/Users/rateo/OneDrive/%E3%83%87%E3%82%B9%E3%82%AF%E3%83%88%E3%83%83%E3%83%97/idea/%E8%A8%BA%E6%96%AD.html">診断</a></li>-->

         <li><form action="/question" method="post">
		{% csrf_token %}
        <input type="submit" name="start" value="診断">
        </form></li>
         <li><a href="file:///C:/Users/rateo/OneDrive/%E3%83%87%E3%82%B9%E3%82
           %AF%E3%83%88%E3%83%83%E3%83%97/idea/%E3%81%8A%E8%8F%93%E5%AD%90%E3%81%AE%E3%83%87%E3%83%BC%E3%82%BF.pdf">お菓子の選択肢</a></li>
         <li>お菓子の評価基準</li>
       </ul>
      </div>
    </div>  
     <div class="main">
       <div clas="intro">
         <h1>ようこそ！<h1>
          <h2>あなたが今望んでいるお菓子を分析します<h2>
       </div>
      <div class="contens-item">
        <h3>やり方</h3>
          <p>1.STARTボタンを押します</p>
          <p>2.二枚の写真のうちあなたが今食べたい方の写真をクリックしてください。</p>
          <p>3.食べたいお菓子の選択を繰り返します<p>
          <p>4.最後に表示されたお菓子があなたに今お勧めするお菓子です！</p>
        <h3>仕組み</h3>
          <p>お菓子の評価基準に従ってお菓子に点数をつけています</p>
          <p>それまでに選ばれたお菓子の点数を情報を距離に換算して</p>
          <p>一番距離が近いと思われる情報を持つお菓子を提示しています</p>
          <p>これによりあなたが今この状況で臨んでいるお菓子を診断することができます！<p>
        <h3>お菓子の評価基準</h3>
        <p>お菓子を硬さや食感、甘さなど12個の分野で10段階で評価しました。</p>
        <p><a href="">詳しくはここから</a></p>
        <h3>お菓子の選択肢</h3>
        <p>アイスやクッキーインスタント食品など幅広い分野のお菓子を取り扱っています</p>
        <p><a href="">詳しくはここから</a></p>
        <p>このお菓子も追加してほしい、という要望のある方はぜひお待ちしております</p>
        <p><a href="">リクエスト</a></p>
        <p>またこの診断結果はおかしい、など診断への評価や感想も宜しくお願いします</p>
        <p><a href="">フィードバック</a></p>
      </div>




   </div>


</body>
</html> 
