<html>
<head>
      <link rel="stylesheet" href="start.css">
<meta http-equiv="Content-Type" content=\"text/html\"; charset="UTF-8\" />
</head>
<body>
  <div class="header">
    <div class="header-logo">結果</div>
  </div>
  <div class="contents">

	<img src="http://okahsi.pupu.jp/okashi_pictures_v2/{1}.jpg" alt="start">

    <p>あなたにお勧めのお菓子は<span>{1}</span>です。</p>


</div>
<form action="/" method="post">
	{% csrf_token %}
        <input type="submit" name="start" value="もう一回">
        </form>

</body>
</html>
